<div class="card">
    <div class="card-header">
        <span class="font-weight-bolder">
            {{ $ctrl.title }}
        </span>
        <span class="pull-right">
            <a href="/courses/{{ $ctrl.filter === 'active' ? '' : 'active' }}">
                View {{ $ctrl.filter === 'active' ? 'All Courses' : 'Active Courses' }}
            </a>
        </span>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-12">

                <div id="gridContainer" dx-data-grid="$ctrl.dataGridOptions">
                </div>

            </div>
        </div>

    </div>

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>