<style>

    .custom-select { padding: .375rem 1.75rem .375rem .75rem !important; }

    .custom-select-sm { width: 81%; }

    .extended-select.custom-select-sm { width: 100%; }

    .angular-extended-select {
        height: calc(1.7em + .75rem + 2px);
        width: 100% !important;
    }

    @media (min-width: 567px) and (max-width: 767px) {
        .custom-select-sm { width: 68%; }
    }

    @media (min-width: 768px) {
        .custom-select-sm { width: 78%; }
    }

    @media (min-width: 992px) {
        .custom-select-sm { width: 66%; }
    }

    @media (min-width: 1200px) {
        .custom-select-sm { width: 69%; }
    }
</style>
<div class="col-lg-6 col-sm-12">

    <div class="form-group row">

        <div class="col-12">
            <div class="input-group mb-3">
                <extended-select ng-model="$ctrl.endorsementId"
                                 deselectable=""
                                 ng-options="o.id as o.description for o in $ctrl.endorsements | orderBy:['-len(endorseCode)', 'description']"
                                 class="custom-select-sm">
                </extended-select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            ng-disabled="!$ctrl.endorsementId"
                            ng-click="$ctrl.addEndorsement()">
                        Add Requirement
                    </button>
                </div>

            </div>

        </div>

    </div>

    <div class="form-group row">

        <div class="col-12">
            <div dx-list="$ctrl.listOptions" allowDeleting="true" dx-item-alias="endorsement" id="endorsements" name="endorsements">
                <div data-options="dxTemplate: {name: 'item'}">
                    <span>{{endorsement.endorseDescription}}</span>
                </div>
            </div>
        </div>

    </div>

</div>