<div class="col-12" ng-show="{{$ctrl.allowEdit}}">
    <div class="input-group mb-3">
        <div dx-select-box="$ctrl.availablePrograms" id="availablePrograms" name="availablePrograms" style="width: 75%;"></div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="button"
                    id="btnaddProgram"
                    name="btnaddProgram"
                    ng-click="$ctrl.addProgram()">
                Add Program
            </button>
        </div>
    </div>
</div>

<div class="col-12">
    <div dx-list="$ctrl.coursePrograms" allowDeleting="true">
    </div>
</div>