<style>
    .center-col { text-align: center !important; }
</style>

<div class="card">
    <div class="card-header">
        <span class="font-weight-bolder">
            {{ $ctrl.title }}
        </span>
        <a href="/careertech/programs/new" class="btn btn-sm btn-outline-dark pull-right" ng-show="$ctrl.isAdmin">New Program</a>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-12">

                <div id="gridContainer" dx-data-grid="$ctrl.dataGridOptions">
                </div>

            </div>
        </div>

    </div>

</div>