<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="Off" xdt:Transform="Remove" />
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms loginUrl="https://aim.alsde.edu/aim/TPA/TPA.aspx?requestingWebsite=Courses" timeout="2880" />
    </authentication>
    <sessionState cookieName="Courses.Session.Prod" xdt:Transform="SetAttributes(cookieName)" />
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="noreply@mail.com">
        <network host="mr.alsde.edu" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>