<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <authentication mode="Forms" xdt:Transform="Replace" >
      <forms loginUrl="https://testaim.alsde.edu/aim/TPA/TPA.aspx?requestingWebsite=Courses" timeout="2880" />
    </authentication> 
    <sessionState cookieName="Courses.Session.Test" xdt:Transform="SetAttributes(cookieName)"/>
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="SpecifiedPickupDirectory" xdt:Transform="Replace">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\inetpub\wwwroot\aden\App_Data" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>


</configuration>