<style>
 
</style>

<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h1>Course Catalog</h1>
            <h2>Alabama State Courses and Career Technical Programs and Credentials</h2>
            <hr class="intro-divider">

            <div class="row justify-content-md-center">
               
                <div class="col-sm-6 col-lg-4">

                    <div class="card">
                        <div class="card-header bg-primary">
                            <a href="/courses" class="text-light">
                                <div class="font-weight-bold">
                                    Courses
                                </div>
                                <i class="fa fa-book fa-5x"></i>
                            </a>
                        </div>
                        <div class="card-body row text-center">
                            <div class="col">
                                <div class="font-weight-bold text-dark">{{ $ctrl.activeCourseCount }}</div>
                                <div class="text-uppercase text-muted small">
                                    <a href="/courses/active">active courses</a>
                                </div>
                            </div>
                            <div class="c-vr"></div>
                            <div class="col">
                                <div class="font-weight-bold text-dark">{{ $ctrl.draftCount }}</div>
                                <div class="text-uppercase text-muted small">
                                    <a href="/drafts">drafts</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 col-lg-4">

                    <div class="card">
                        <div class="card-header bg-secondary">
                            <a href="/careertech" class="text-light">
                                <div class="font-weight-bold">Career Tech</div>
                                <i class="fa fa-rocket fa-5x"></i>
                            </a>
                        </div>
                        <div class="card-body row text-center">
                            <div class="col">
                                <div class="font-weight-bold text-dark">{{ $ctrl.activeProgramsCount }}</div>
                                <div class="text-uppercase text-muted small">
                                    <a href="/careertech/programs">programs</a>
                                </div>
                            </div>
                            <div class="c-vr"></div>
                            <div class="col">
                                <div class="font-weight-bold text-dark">{{ $ctrl.activeCredentialsCount }}</div>
                              
                                <div class="text-uppercase text-muted small">
                                    <a href="/careertech/credentials">credentials</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</header>



