<style>
    .text-larger { font-size: 90%; }

    .dx-scrollable-customizable-scrollbars { height: 100% !important; }
</style>


<div class="card">
    <div class="card-header">
        <span class="font-weight-bolder">
            {{ $ctrl.title }}
        </span>
        <span class="pull-right">
            <a ng-href="/careertech/credentials/{{ $ctrl.credential.credentialCode }}/edit" class="btn btn-sm btn-outline-dark float-right" ng-show="$ctrl.isAdmin">Edit</a>
        </span>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-6">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <span>Details</span>
                    </div>
                    <div class="card-body text-secondary">
                        <dl class="row">
                            <dt class="col-4">Name</dt>
                            <dd class="col-8">{{ $ctrl.credential.name }}</dd>

                            <dt class="col-4">Credential Code</dt>
                            <dd class="col-8">{{ $ctrl.credential.credentialCode }}</dd>

                            <dt class="col-4">Description</dt>
                            <dd class="col-8">{{ $ctrl.credential.description || 'None Provided'}}</dd>

                            <dt class="col-4">Credential Type</dt>
                            <dd class="col-8">{{ $ctrl.credential.credentialType || 'None'}}</dd>

                            <dt class="col-4">Service Range</dt>
                            <dd class="col-8">{{ $ctrl.credential.beginYear }} to {{ $ctrl.credential.endYear || 'Current' }}</dd>

                            <dt class="col-4">Reimbursable</dt>
                            <dd class="col-8">{{ $ctrl.credential.isReimbursable ? 'Yes' : 'No' }}</dd>
                        </dl>
                    </div>
                </div>
            </div>


            <div class="col-6">

                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <span>Assigned Programs</span>
                    </div>
                    <div class="card-body text-secondary">
                        <div style="height: 400px; overflow-x: hidden; overflow-y: auto;">

                            <div dx-list="$ctrl.listOptions" allowDeleting="true" dx-item-alias="item">
                                <div data-options="dxTemplate: {name: 'item'}">
                                    <span>{{item.programName}} ({{item.programCode}})</span>
                                    <span class="float-right">[{{item.beginYear}}-{{ item.endYear || 'Current'}}]</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card-footer text-muted">
    <a href="/careertech/credentials">Back To Credentials</a>
    <a ng-href="/careertech/credentials/{{ $ctrl.credential.credentialCode }}/edit" class="float-right" ng-show="$ctrl.credential.canEdit">Edit</a>
</div>