
<style>
    .text-larger {
        font-size: 90%;
    }

    .dx-scrollable-customizable-scrollbars {
        height: 100% !important;
    }
</style>

<div class="card">
    <div class="card-header">
        <span class="card-title font-weight-bolder">{{ $ctrl.title }}</span>
    </div>

    <div class="card-body">

        <div class="row" ng-show="$ctrl.credential">



            <div class="col-6">

                <form novalidate name="$ctrl.form" ng-submit="$ctrl.onSubmit()">

                    <div class="card border-secondary mb-3">
                        <div class="card-header">
                            <span>Details</span>
                            <span class="pull-right text-danger" ng-show="$ctrl.form.$dirty"><i class="fa fa-asterisk"></i></span>
                        </div>

                        <div class="card-body text-secondary">

                            <div class="form-group row">
                                <label for="name" class="col-3 col-form-label">Name</label>

                                <div class="col-9">
                                    <input type="text"
                                           class="form-control"
                                           id="name"
                                           name="name"
                                           autocomplete="off"
                                           placeholder="Credential Name (required)"
                                           ng-model="$ctrl.credential.name"
                                           required />
                                    <ng-messages for="$ctrl.form.name.$error">
                                        <ng-message when="required" class="form-text text-danger small">Field is required</ng-message>
                                    </ng-messages>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="credentialCode" class="col-3 col-form-label">Credential Code</label>

                                <div class="col-9">
                                    <input type="text"
                                           class="form-control"
                                           id="credentialCode"
                                           name="credentialCode"
                                           autocomplete="off"
                                           placeholder="Credential Code (required)"
                                           ng-model="$ctrl.credential.credentialCode"
                                           ng-change="$ctrl.onChangeCredentialCode()"
                                           ng-model-options="{ debounce: 300 }"
                                           required
                                           minlength="4"
                                           maxlength="4" />
                                    <ng-messages for="$ctrl.form.credentialCode.$error">
                                        <ng-message when="required" class="form-text text-danger small">Field is required</ng-message>
                                        <ng-message when="minlength" class="form-text text-danger small">Field is too short</ng-message>
                                        <ng-message when="maxlength" class="form-text text-danger small">Field is too long</ng-message>
                                        <ng-message when="unique" class="form-text text-danger small">Already in use</ng-message>
                                    </ng-messages>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="description" class="col-3 col-form-label">Description</label>

                                <div class="col-9">
                                    <input type="text"
                                           class="form-control"
                                           id="description"
                                           name="description"
                                           autocomplete="off"
                                           placeholder="Credential Description"
                                           ng-model="$ctrl.credential.description" />
                                    <ng-messages for="$ctrl.form.description.$error">
                                    </ng-messages>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="credentialTypeId" class="col-md-3 col-form-label">Credential Type</label>
                                <div class="col-md-9">
                                    <select class="form-control"
                                            ng-model="$ctrl.credential.credentialTypeId"
                                            name="credentialTypeId"
                                            id="credentialTypeId"
                                            required>
                                        <option ng-repeat="option in $ctrl.credentialTypes" ng-value="option.credentialTypeId">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <ng-messages for="$ctrl.form.credentialTypeId.$error">
                                        <ng-message when="required" class="form-text text-danger small">Field is required</ng-message>
                                    </ng-messages>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="beginYear" class="col-form-label">Begin Service</label>

                                    <select class="form-control"
                                            ng-model="$ctrl.credential.beginYear"
                                            name="beginYear"
                                            id="beginYear"
                                            number-less-than="{{ $ctrl.credential.endYear }}"
                                            required>
                                        <option value="">--- Please select ---</option>
                                        <option ng-repeat="option in $ctrl.schoolYears" ng-value="{{option.year}}">
                                            {{ option.year }}
                                        </option>
                                    </select>
                                    <ng-messages for="$ctrl.form.beginYear.$error">
                                        <ng-message when="required" class="form-text text-danger small">Field is required</ng-message>
                                        <ng-message when="numberLessThan" class="form-text text-danger small">Date must be before End Year</ng-message>
                                    </ng-messages>
                                </div>
                                <div class="col-6">
                                    <label for="endYear" class="col-form-label">End Service</label>
                                    <select class="form-control"
                                            ng-model="$ctrl.credential.endYear"
                                            name="endYear"
                                            id="endYear"
                                            number-greater-than="{{ $ctrl.credential.beginYear }}">
                                        <option value="">--- Please select ---</option>
                                        <option ng-repeat="option in $ctrl.schoolYears" ng-value="{{option.year}}">
                                            {{ option.year }}
                                        </option>
                                    </select>
                                    <ng-messages for="$ctrl.form.endYear.$error">
                                        <ng-message when="numberGreaterThan" class="form-text text-danger small">Date must be after Begin Year</ng-message>
                                    </ng-messages>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                   name="isReimbursable"
                                                   ng-model="$ctrl.credential.isReimbursable">Reimbursable
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-6">
                                    <button class="btn btn-outline-secondary btn-block"
                                            ng-show="$ctrl.form.$dirty"
                                            type="button"
                                            ng-click="$ctrl.cancel()">
                                        Cancel Changes
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary btn-block"
                                            ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                                            type="submit">
                                        Save Changes
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

            <div class="col-6">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <h5>
                            Assigned Programs
                            <span class="pull-right" ng-show="$ctrl.credential">
                                <button class="btn btn-outline-secondary" ng-click="$ctrl.showForm = !$ctrl.showForm">
                                    {{ $ctrl.showForm == true ? 'Close' : 'Create New' }}
                                </button>
                            </span>
                        </h5>

                    </div>
                    <div class="card-body text-secondary p-1" ng-show="$ctrl.showForm">

                        <div class="card border-secondary">
                            <div class="card-header bg-secondary text-white">
                                Add New Program
                            </div>
                            <div class="card-body">

                                <form novalidate name="$ctrl.form2">
                                    <div class="form-group">
                                        <label for="programId">Program</label>

                                        <select class="form-control"
                                                ng-model="$ctrl.assignment.programId"
                                                name="programId"
                                                id="programId"
                                                required>
                                            <option value="">--- Please select ---</option>
                                            <option ng-repeat="option in $ctrl.programs" ng-value="option.programId">
                                                {{ option.name }}({{option.programCode}})
                                            </option>
                                        </select>
                                        <ng-messages for="$ctrl.form2.programId.$error">
                                            <ng-message when="required" class="form-text text-danger small">Field is required</ng-message>
                                        </ng-messages>
                                    </div>

                                    <div class="form-group">
                                        <label for="beginYear2">Begin Service</label>

                                        <select class="form-control"
                                                ng-model="$ctrl.assignment.beginYear"
                                                name="beginYear2"
                                                id="beginYear2"
                                                number-less-than="{{ $ctrl.assignment.endYear }}"
                                                required>
                                            <option value="">--- Please select ---</option>
                                            <option ng-repeat="option in $ctrl.schoolYears" ng-value="{{option.year}}">
                                                {{ option.year }}
                                            </option>
                                        </select>
                                        <ng-messages for="$ctrl.form2.beginYear2.$error">
                                            <ng-message when="required" class="form-text text-danger small">Field is required</ng-message>
                                            <ng-message when="numberLessThan" class="form-text text-danger small">Date must be before End Year</ng-message>
                                        </ng-messages>
                                    </div>

                                    <div class="form-group">
                                        <label for="endYear2">End Service</label>
                                        <select class="form-control"
                                                ng-model="$ctrl.assignment.endYear"
                                                name="endYear2"
                                                id="endYear2"
                                                number-greater-than="{{ $ctrl.assignment.beginYear }}">
                                            <option value="">--- Please select ---</option>
                                            <option ng-repeat="option in $ctrl.schoolYears" ng-value="{{option.year}}">
                                                {{ option.year }}
                                            </option>
                                        </select>
                                        <ng-messages for="$ctrl.form2.endYear2.$error">
                                            <ng-message when="numberGreaterThan" class="form-text text-danger small">Date must be after Begin Year</ng-message>
                                        </ng-messages>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-12">
                                            <button class="btn btn-outline-secondary" ng-click="$ctrl.showForm = !$ctrl.showForm ">
                                                Cancel
                                            </button>
                                            <button class="btn btn-outline-secondary float-right" ng-click="$ctrl.createAssignment()"
                                                    ng-disabled="$ctrl.form2.$invalid || $ctrl.form2.$pristine">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>

                    </div>
                    <div class="card-body text-secondary">
                        <div style="height: 400px; overflow-x: hidden; overflow-y: auto;">
                            <div style="height: 400px; overflow-x: hidden; overflow-y: auto;">
                                <div dx-list="$ctrl.listOptions" allowDeleting="true" dx-item-alias="item" id="credentials">
                                    <span>{{item.programName}} ({{item.programCode}})</span>
                                    <span class="float-right">[{{item.beginYear}}-{{ item.endYear || 'Current'}}]</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>


</div>

