<header>
    <nav class="navbar navbar-dark bg-blue-gradient">
        <a class="navbar-brand" href="#">
            <img src="/img/sde-logo-transparent-25.png" alt="Alsde Logo">
            <span class="">@Html.RenderApplicationName()</span> <span class="small"> - @Html.RenderApplicationDescription()</span>
        </a>
    </nav>
</header>