@{
    ViewBag.Title = "Coming Soon";
}

<div class="card">
    <div class="card-header">
        <span class="font-weight-bolder">
            Under Construction
        </span>
    </div>
    <div class="card-body">

        <div class="row">

            <div class="mx-auto">

                <h1>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    We're Sorry
                </h1>

                <p>
                    @ViewBag.Message
                </p>
            </div>

        </div>

    </div>

</div>