<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Login Failure</title>
</head>
<body>
<div class="row">
    <div class="col-md-8 offset-2">
        <hgroup>

            <h2>Unable to login to Course Catalog</h2>

        </hgroup>
        <p>
            <a href="@Constants.AimBaseUrl">Return to Application Portal</a>
        </p>

        <p class="alert alert-info">
            @ViewBag.Message
        </p>
    </div>
</div>

</body>
</html>