@{
    ViewBag.Title = "Not Found";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <h2 class="text-center">Page Not Found</h2>
        <div class="alert alert-warning">
            <p>
                The page you requested was not found. <br/>
                If you got here in error, let us know so that we can fix it!
            </p>
        </div>
    </div>
</div>
