
<div class="card ng-cloak">
    <div class="card-header">
        <span class="font-weight-bolder">
            {{ $ctrl.title }}
        </span>
    </div>
    
    <div class="card-body" ng-show="$ctrl.errorMessage">
        <!--TODO: Display error and how to resolve-->
        <h3>Error occurred retrieving course draft</h3>
        <p>
            <strong>Details:</strong>
            {{ $ctrl.errorMessage }}
        </p>
        <a href="/drafts">Return To Drafts</a>
    </div>

    <div class="card-body" ng-hide="$ctrl.errorMessage">

        <nav>
            <div class="nav nav-pills pb-2" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
                <a class="nav-item nav-link" ng-class="($ctrl.courseId==-1) ? 'disabled' : 'enabled'" id="nav-tc-tab" data-toggle="tab" href="#nav-tc" role="tab" aria-controls="nav-tc" aria-selected="false">Certification Endorsements</a>
                <a class="nav-item nav-link" ng-class="($ctrl.courseId==-1) ? 'disabled' : 'enabled'" id="nav-ct-tab" data-toggle="tab" href="#nav-ct" role="tab" aria-controls="nav-ct" aria-selected="false">CTE Programs</a>
                <!--<a class="nav-item nav-link" id="nav-cos-tab" data-toggle="tab" href="#nav-cos" role="tab" aria-controls="nav-cos" aria-selected="false">Course of Study</a>-->
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <draft-detail-edit course="$ctrl.course" is-admin="$ctrl.isCourseAdmin"></draft-detail-edit>
            </div>
            <div class="tab-pane fade" id="nav-tc" role="tabpanel" aria-labelledby="nav-tc-tab">
                <draft-requirement-edit course="$ctrl.course" is-admin="$ctrl.isTCertAdmin"></draft-requirement-edit>
            </div>
            <div class="tab-pane fade" id="nav-ct" role="tabpanel" aria-labelledby="nav-ct-tab">
                <draft-careertech-edit course="$ctrl.course" is-admin="$ctrl.isCareerTechAdmin"></draft-careertech-edit>
            </div>
            <!--<div class="tab-pane fade" id="nav-cos" role="tabpanel" aria-labelledby="nav-cos-tab">
                Course of Study
            </div>-->
        </div>

    </div>
    <div class="card-footer text-muted" ng-show="$ctrl.course">
        <a href="/drafts">Back To Drafts</a>
        <a ng-href="/drafts/{{ $ctrl.courseId }}" class="float-right">Back to Details</a>
    </div>
</div>