html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100%;
    padding-bottom: 6rem;
    position: relative;
}

footer {
    background-color: #4A71B5;
    bottom: 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    left: 0;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
}

footer a {
    color: #FFFFFF;
    font-family: Tahoma;
    text-decoration: none;
}

footer a:hover {
    color: #FFD34F;
    text-decoration: underline;
}

span#links { margin-left: 7%; }

pre {
    background-color: gainsboro;
    /*display: none;*/
}

html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100%;
    padding-bottom: 6rem;
    position: relative;
}

main { margin-top: 10px; }

input.ng-invalid.ng-touched { border: solid 1px #FA787E; }

input.ng-valid.ng-touched { border: solid 1px #78FA89; }

.blue-gradient {
    background-color: #4b6397;
    color: #fff;
    padding: 5px;
}

.bg-blue-gradient {
    background: #4b6cb7;
    background: linear-gradient(180deg, #4b6cb7 0%, #527dcb 100%);
}

.bg-yellow {
    background-color: #FFFF00;
    border-color: #FFFF00;
}

.bg-orange {
    background-color: #ee9c20;
    border-color: #ee9c20;
}

.bg-blue {
    background-color: #37c0ee;
    border-color: #37c0ee;
}

.statusbar {
    border: 0 solid transparent;
    border-bottom: none;
    border-radius: 0;
    font-size: 14px;
    margin-bottom: 0;
    min-height: 30px;
}

.statusbar a.nav-link {
    height: 30px;
    padding-bottom: 0;
    padding-top: 5px;
}

fieldset { height: 100%; }

.intro-header:before {
    background: url(/img/dashboard-header.jpg) no-repeat center center;
    background-size: cover;
    bottom: 0px;
    content: "";
    left: 0px;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    top: 0px;
}

.intro-header {
    align-items: center;
    color: #f8f8f8;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    text-align: center;
}

.intro-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid #f8f8f8;
    padding-bottom: 20px;
    width: 400px;
}

.intro-message { position: relative; }

.intro-message > h1 {
    font-size: 5em;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.bg-courses { background-color: #3b5998 !important; }

.bg-careertech { background-color: #00aced !important; }

.c-vr {
    background-color: rgba(0, 0, 21, 0.2);
    width: 1px;
}

.navbar { padding: .1em 1em; }

.pointer { cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }